
    body {
        font-family: Arial, sans-serif;
        background-color:#16816e;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background:url(./images/studentsform.avif)no-repeat center center/cover;
        
    }

    #courses {
        background: rgba(32, 64, 102, 0.5);
        padding: 30px 40px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        width: 300px;
        text-align: center;
    }

    #courses h2 {
        color: #ece3e3;
        margin-bottom: 15px;
    }

    #courses ul {
        list-style-type: none;
        padding: 0;
    }

    #courses li {
        background-color: #e9f0ff;
        margin: 8px 0;
        padding: 10px;
        border-radius: 8px;
        color: #333;
        font-weight: bold;
        font-style: italic;
    }

    #courses li:hover {
        background-color: #d0e2ff;
        cursor: pointer;
    }
