*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#16816e url(../images/front.avif)no-repeat center center/cover;

}

.login-container{
    background:linear-gradient(to right,#0b1e71,#16816e);
    padding:30px;
    width:350px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}

.login-container h2{
    margin-bottom:20px;
}

.login-container input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:16px;
}

.login-container button{
    width:100%;
    padding:12px;
    background:#689bd5;
    color:white;
    border:none;
    border-radius:5px;
    font-size:16px;
    cursor:pointer;
    margin-bottom: 30px;
}

.login-container button:hover{
    background:#357abd;
}

#message{
    margin-top:15px;
    color:red;
    font-weight:bold;
}
.signup-text{
color:rgb(205, 183, 235)

}